<link rel="stylesheet" href="styles/dashboard/home.css">
<script src="js/dashboard/home/home.js"></script>
<script src="js/dashboard/home/functions.js"></script>
<script src="js/dashboard/home/johan.js"></script>
<script src="js/dashboard/home/script.js"></script>

<div class="row">
    <div class="col s12 m8 l8">
        <%- partial('johanCreate.ejs') %>
    </div>

    <div class="col s12 m4 l4">
        <%- partial('scriptCreate.ejs') %>
    </div>

    <div class="col s12 m8 l8">
        <%- partial('johanList.ejs') %>
    </div>

    <div class="col s12 m4 l4">
        <%- partial('scriptList.ejs') %>
    </div>
</div>
<%- partial('johanEditModal.ejs') %>
<%- partial('johanDeleteModal.ejs') %>
<%- partial('scriptEditModal.ejs') %>
<%- partial('scriptDeleteModal.ejs') %>